<h1>Let's work together</h1>

<hr>

<div class="row">
  <div class="col-md-6">
    <h3>Location</h3>

    <p>Irvine, CA</p>

    <h3>Phone</h3>

    <p><%= number_to_phone "5555555555" %></p>

    <h3>Email</h3>

    <p><a href="mailto:fake@email.com?subject=Employment" "email me">Email</a></p>
  </div>

  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6642.5274893022315!2d-117.77574196995398!3d33.65032736552516!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80dcdd62cd73693b%3A0xcee558693caf33b7!2sQuail+Ridge%2C+Irvine%2C+CA+92603!5e0!3m2!1sen!2sus!4v1550427288885" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>